<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Cam Web</title>
    <style>
      video{
        width: 179px;
    height: 135px;
        border:4px solid #b7b7b7;
    }
    </style>
    
  </head>
  <body>
    <h1>Photobooth App</h1>
    <div style="margin: 10px;"><a href="/cam">Photobooth</a> | <a href="/logs">All</a></div>
    <!-- <p>
      latitude: <span id="latitude"></span>&deg;<br />
      longitude: <span id="longitude"></span>&deg;
    </p> -->
    <!-- <label for="mood">Enter Your Name:</label> -->
    
    <div id="mood" />
    
    
    <!-- <div class="buttons">
      <button id="buttonCapture">Capture</button>
      <button id="buttonSave">Upload</button>
      <button id="buttonSave">Clear</button>
    </div> -->
    <button id="submit" style="position:absolute;top:70%;right:44% ;">submit</button>

    <script  src="./js/script.js">
  
    </script>
  </body>
</html>
